@page
@model IndexModel
@using RiotSharp
@using RiotSharp.Endpoints.SummonerEndpoint
@using RiotSharp.Misc
@using HtmlAgilityPack
@{
    ViewData["Title"] = "Home page";

    var api = RiotApi.GetDevelopmentInstance("RGAPI-95c86fde-52fb-4bb0-9e5a-b46cd6d30216");
    //var testw = await api.Summoner.GetSummonerByNameAsync(Region.euw, "Entity One"); //you are retarded
    //1.Time played
    //2.Breakdown types of games
    //3.W / L
    //4.Champions played
    //5.Mastery / Champion level
    //6.Honour level
    //7.Amount to next level
    //8.Weeks rotation(ARAM)
    //9.current streak
    var region = Region.euw;
    var summoner = await api.Summoner.GetSummonerByNameAsync(region, "Entity One");
    var matches = await api.Match.GetMatchListAsync(region, summoner.AccountId);
    //var mastery = await api.ChampionMastery.GetChampionMasteriesAsync(region, summoner.Id);

    var profileicon = "https://ddragon.leagueoflegends.com/cdn/8.2.1/img/profileicon/";

    //get match info from know matchID
    var testMatchInfo = await api.Match.GetMatchAsync(region, 3710383392);

    var win = 0;
    var lose = 0;

    var particpentId = "";
    var gameOutcome = "";
    // Gets individual match outcome - works
    //foreach(var identity in testMatchInfo.ParticipantIdentities)
    //{
    //    if(identity.Player.SummonerName == summoner.Name)
    //    {
    //        var testId = identity.ParticipantId;
    //        var teamId = testMatchInfo.Participants[testId - 1].TeamId;
    //        foreach(var team in testMatchInfo.Teams)
    //        {
    //            if(team.TeamId == teamId)
    //            {
    //                gameOutcome = team.Win;

    //            }

    //        }

    //    }

    //}

    //scrape hours played data from site - works
    string Url = "https://wol.gg/stats/euw/entityone/";
    HtmlWeb web = new HtmlWeb();
    HtmlDocument doc = web.Load(Url);
    var hoursPlayed = doc.DocumentNode.SelectSingleNode("//div[@id='time-hours']").InnerText;

    //scrape match history from lol site - does not work
    string Url2 = "https://matchhistory.euw.leagueoflegends.com/en/#match-history/EUW1/224534063";
    HtmlWeb web2 = new HtmlWeb();
    HtmlDocument doc2 = web2.Load(Url2);
    var matchlist = doc2.DocumentNode.SelectNodes("//ul/li[contains(@class, 'game-summary')]");
    IEnumerable<HtmlNode> nodes =
    doc2.DocumentNode.Descendants(0)
        .Where(n => n.HasClass("game-summary"));

    //Gets match win/lose from summoner match history - too many api requests
    //foreach(var match in matches.Matches)
    //{
    //    var matchId = match.GameId;

    //    var matchInfo = await api.Match.GetMatchAsync(region, matchId);

    //    foreach (var identity in matchInfo.ParticipantIdentities)
    //    {
    //        if (identity.Player.SummonerName == summoner.Name)
    //        {
    //            var testId = identity.ParticipantId;
    //            var teamId = testMatchInfo.Participants[testId - 1].TeamId;
    //            foreach (var team in testMatchInfo.Teams)
    //            {
    //                if (team.TeamId == teamId)
    //                {
    //                    gameOutcome = team.Win;

    //                    if(team.Win == "true")
    //                    {
    //                        win++;

    //                    }
    //                    else
    //                    {
    //                        lose++;

    //                    }
    //                }

    //            }

    //        }

    //    }

    //}
    //var testParticimentID = testMatchInfo.ParticipantIdentities..Contains("EntityOne");
}

<div class="container">
    <div class="col-md-10">
        <section id="home">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2 text-center">
                    <div class="image-container">
                        <img class="image-champion opacity img-circle" src="./images/zyra.png" alt="Generic placeholder image" width="140" height="140">
                        <img class="image-honour" src="./images/flair_level_3.png" />
                        <div class="image-level">
                            <div class="image-level inner">
                                <span>44</span>
                            </div>
                        </div>
                        <div class="image-progress progress--50"></div>
                    </div>
                    <h2>MNYP</h2>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="image-container">
                        <img class="image-champion opacity img-circle" src="@(profileicon + "3000" + ".png")" alt="Generic placeholder image" width="140" height="140">
                        <img class="image-honour" src="./images/flair_level_4.png" />
                        <div class="image-level">
                            <div class="image-level inner">
                                <span>@summoner.Level</span>
                            </div>
                        </div>
                        <div class="image-progress progress--80"></div>
                    </div>
                    <h2>@summoner.Name</h2>
                    <h2>@win</h2>
                    <h2>@lose</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>
                        Total:
                        <span class="text-muted">418 hours</span>
                    </h2>
                    <p class="lead">
                        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
                        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                    </p>
                </div>
                <div class="col-sm-6 text-right">
                    <h2>
                        Total:
                        <span class="text-muted">509 hours</span>
                    </h2>
                    <p class="lead">
                        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
                        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                    </p>
                </div>
            </div>
        </section>
        <!-- WINS/LOSSES -->
        <section id="winslosses">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Wins/Losses</h2>
                    <hr>
                </div>
                <div class="col-sm-6">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="        width: 60%;">
                            60%
                        </div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                             style="        width: 40%;">
                            40%
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="        width: 60%;">
                            60%
                        </div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                             style="        width: 40%;">
                            40%
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- WINS/LOSSES -->
        <!-- CHAMPIONS RECENTLY PLAYED -->
        <section id="champsplayed">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Champions recently played</h2>
                    <hr>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-1">
                            <div class="image-container">
                                <img class="image-champion img-circle" src="./images/ziggs.png" alt="ziggs" width="100" height="100">
                                <div class="image-text">
                                    <h3>Ziggs</h3>
                                    <p>10%</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="image-container">
                                <img class="image-champion img-circle" src="./images/ahri.png" alt="ahri" width="100" height="100">
                                <div class="image-text">
                                    <h3>Ahri</h3>
                                    <p>5%</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="image-container">
                                <img class="image-champion img-circle" src="./images/xerath.png" alt="xerath" width="100" height="100">
                                <div class="image-text">
                                    <h3>Xerath</h3>
                                    <p>35%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <canvas id="monChart" width="100" height="100"></canvas> -->
                </div>
                <div class="col-sm-6 text-center">
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-1">
                            <div class="image-container">
                                <img class="image-champion img-circle" src="./images/yasuo.png" alt="yasuo" width="100" height="100">
                                <div class="image-text">
                                    <h3>Yasuo</h3>
                                    <p>10%</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="image-container">
                                <img class="image-champion img-circle" src="./images/amumu.png" alt="amumu" width="100" height="100">
                                <div class="image-text">
                                    <h3>Amumu</h3>
                                    <p>5%</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="image-container">
                                <img class="image-champion img-circle" src="./images/caitlyn.png" alt="caitlyn" width="100" height="100">
                                <div class="image-text">
                                    <h3>Caitlyn</h3>
                                    <p>35%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <canvas id="marcChart" width="100" height="100"></canvas> -->
                </div>
            </div>
        </section>
        <!-- CHAMPIONS RECENTLY PLAYED -->
        <!-- Weekly Rotation (ARAM) -->
        <section id="champsrotation">
            <div class="row-flex row-flex-wrap">
                <div class="col-sm-12">
                    <h2>Champion rotation</h2>
                    <hr>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="./images/rotation/ahri.jpg" alt="ahri">
                        <div class="row caption">
                            <div class="col-xs-9">
                                <h3>Ahri</h3>
                                <i>The Nine-Tailed Fox</i>
                            </div>
                            <div class="col-xs-3">
                                <img src="./images/roles/mage.png" alt="mage" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span class="visible-lg">ATT</span>
                            <span class=visible-xs>Attack</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="        width: 30%">
                                    30%
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <span class="visible-lg">DEF</span>
                            <span class=visible-xs>Defence</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%
    ">
                                    40%
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2">
                            <span class="visible-lg">ABL</span>
                            <span class=visible-xs>Ability</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="        width: 80%">
                                    80%
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <span class="visible-lg">DIF</span>
                            <span class=visible-xs>Difficulty</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=" width: 50%">
                                    50%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="./images/rotation/ashe.jpg" alt="ahri">
                        <div class="row caption">
                            <div class="col-md-9">
                                <h3>Ashe</h3>
                                <i>The Frost Archer</i>
                            </div>
                            <div class="col-md-3">
                                <img src="./images/roles/marksman.png" alt="mage" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span class="visible-lg">ATT</span>
                            <span class=visible-xs>Attack</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    70%
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <span class="visible-lg">DEF</span>
                            <span class=visible-xs>Defence</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%
    ">
                                    30%
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2">
                            <span class="visible-lg">ABL</span>
                            <span class=visible-xs>Ability</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                    20%
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <span class="visible-lg">DIF</span>
                            <span class=visible-xs>Difficulty</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style=" width: 40%">
                                    40%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="./images/rotation/drmundo.jpg" alt="drmundo">
                        <div class="row caption">
                            <div class="col-md-9">
                                <h3>Dr.Mundo</h3>
                                <i>The Madman of Zaun</i>
                            </div>
                            <div class="col-md-3">
                                <img src="./images/roles/fighter.png" alt="fighter" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span class="visible-lg">ATT</span>
                            <span class=visible-xs>Attack</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    50%
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <span class="visible-lg">DEF</span>
                            <span class=visible-xs>Defence</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%
    ">
                                    70%
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2">
                            <span class="visible-lg">ABL</span>
                            <span class=visible-xs>Ability</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    60%
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <span class="visible-lg">DIF</span>
                            <span class=visible-xs>Difficulty</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=" width: 50%">
                                    50%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="./images/rotation/janna.jpg" alt="janna">
                        <div class="row caption">
                            <div class="col-md-9">
                                <h3>Janna</h3>
                                <i>The Storm's Fury</i>
                            </div>
                            <div class="col-md-3">
                                <img src="./images/roles/support.png" alt="support" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span class="visible-lg">ATT</span>
                            <span class=visible-xs>Attack</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style=" width: 30%">
                                    30%
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <span class="visible-lg">DEF</span>
                            <span class=visible-xs>Defence</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%
    ">
                                    50%
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2">
                            <span class="visible-lg">ABL</span>
                            <span class=visible-xs>Ability</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    70%
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <span class="visible-lg">DIF</span>
                            <span class=visible-xs>Difficulty</span>
                        </div>
                        <div class="col-sm-10">
                            <div class="progress small">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style=" width: 70%">
                                    70%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Weekly Rotation (ARAM) -->
        <hr />
    </div>
    <div class="col-xs-6 col-sm-2 sidebar-offcanvas navbar-fixed-right visible-lg" id="sidebar">
        <div class="list-group">
            <a href="#home" class="list-group-item active">Home</a>
            <a href="#winslosses" class="list-group-item">Wins/Losses</a>
            <a href="#champsplayed" class="list-group-item">Champions Played</a>
            <a href="#champsrotation" class="list-group-item">Champion Rotation</a>
        </div>
    </div>

    <!-- STATIC -->
    @section scripts {
    <script>
        $('.list-group-item').on('click', function () {
            $('.list-group-item').removeClass('active');
            $(this).addClass('active');
        });
    </script>
    }
</div>